<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="boris">
    <ros2_control name="boris_system" type="system">
        <hardware>
            <plugin>ign_ros2_control/IgnitionSystem</plugin>
        </hardware>
        <joint name="waist">
            <command_interface name="position">
                <param name="min">-6.28</param>
                <param name="max">6.28</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="shoulder">
            <command_interface name="position">
                <param name="min">-6.28</param>
                <param name="max">6.28</param>
            </command_interface>
            <state_interface name="position">
            </state_interface>
            <state_interface name="velocity"/>
        </joint>

        <joint name="elbow">
            <command_interface name="position">
                <param name="min">-6.28</param>
                <param name="max">6.28</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="wrist_angle">
            <command_interface name="position">
                <param name="min">-6.28</param>
                <param name="max">6.28</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="wrist_rotate">
            <command_interface name="position">
                <param name="min">-6.28</param>
                <param name="max">6.28</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="left_finger">
            <command_interface name="position">
                <param name="min">-0.1</param>
                <param name="max">0.1</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="right_finger">
                <command_interface name="position">
                <param name="min">-0.1</param>
                <param name="max">0.1</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
        </joint>

        <joint name="caster_wheel_joint">
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>

        <joint name="gripper">
            <command_interface name="position">
                <param name="min">-6.28</param>
                <param name="max">6.28</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>

        <joint name="camera_turret_pan_joint">
            <command_interface name="position">
                <param name="min">-6.28</param>
                <param name="max">6.28</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>

        <joint name="camera_turret_tilt_joint">
            <command_interface name="position">
                <param name="min">-6.28</param>
                <param name="max">6.28</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>

        <joint name="horizontal_neck_joint">
            <command_interface name="position">
                <param name="min">-6.28</param>
                <param name="max">6.28</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>

        <joint name="vertical_neck_joint">
            <command_interface name="position">
                <param name="min">-6.28</param>
                <param name="max">6.28</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>

        <joint name="jaw_joint">
            <command_interface name="position">
                <param name="min">-6.28</param>
                <param name="max">6.28</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>

        <joint name="left_eye_horizontal_joint">
            <command_interface name="position">
                <param name="min">-6.28</param>
                <param name="max">6.28</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>

        <joint name="left_eye_vertical_joint">
            <command_interface name="position">
                <param name="min">-6.28</param>
                <param name="max">6.28</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>

        <joint name="left_inferior_eyelid_joint">
            <command_interface name="position">
                <param name="min">-6.28</param>
                <param name="max">6.28</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>

        <joint name="left_superior_eyelid_joint">
            <command_interface name="position">
                <param name="min">-6.28</param>
                <param name="max">6.28</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>

        <joint name="left_vertical_eyebrow_joint">
            <command_interface name="position">
                <param name="min">-6.28</param>
                <param name="max">6.28</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>

        <joint name="left_rotacional_eyebrow_joint">
            <command_interface name="position">
                <param name="min">-6.28</param>
                <param name="max">6.28</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>

        <joint name="right_eye_horizontal_joint">
            <command_interface name="position">
                <param name="min">-6.28</param>
                <param name="max">6.28</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>

        <joint name="right_eye_vertical_joint">
            <command_interface name="position">
                <param name="min">-6.28</param>
                <param name="max">6.28</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>

        <joint name="right_inferior_eyelid_joint">
            <command_interface name="position">
                <param name="min">-6.28</param>
                <param name="max">6.28</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>

        <joint name="right_superior_eyelid_joint">
            <command_interface name="position">
                <param name="min">-6.28</param>
                <param name="max">6.28</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>

        <joint name="right_vertical_eyebrow_joint">
            <command_interface name="position">
                <param name="min">-6.28</param>
                <param name="max">6.28</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>

        <joint name="right_rotacional_eyebrow_joint">
            <command_interface name="position">
                <param name="min">-6.28</param>
                <param name="max">6.28</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>
    </ros2_control>
    <gazebo>
        <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
            <parameters>$(find boris_description)/config/boris_ign_controllers.yaml</parameters>
        </plugin>
    </gazebo>
</robot>