<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rgb_cam">
<xacro:macro name="add_optical_frame_rgb_cam" params="name">
		<joint name="${name}_optical_joint" type="fixed">
			<origin xyz="0 0 0" rpy="0.0 0.0 0.0" />
			<parent link="${name}" />
			<child link="${name}_optical_frame"/>
		</joint>

		<link name="${name}_optical_frame" />
	</xacro:macro>

  <xacro:macro name="rgb_cam_gazebo">
		<gazebo reference="webcam_lens_link_optical_frame">
			<sensor type="camera" name="rgb_cam">
				<always_on>true</always_on>
				<visualize>true</visualize>
				<update_rate>15</update_rate>
				<gz_frame_id>webcam_lens_link_optical_frame</gz_frame_id>

				<camera>
					<optical_frame_id>webcam_lens_link_optical_frame</optical_frame_id>
					<horizontal_fov>1.047</horizontal_fov>
					<image>
						<width>640</width>
						<height>480</height>
					</image>
					<depth_camera>
						<clip>
							<near>0.1</near>
							<far>10.0</far>
						</clip>
					</depth_camera>
					<noise>
						<type>gaussian</type>
						<mean>0.0</mean>
						<stddev>0.01</stddev>
					</noise>
				</camera>
                <plugin name="rgb_cam_camera_plugin" filename="libgazebo_ros_camera.so">
                    <ros>
                    <remapping>image_raw:=/rgb_cam/image_color/raw</remapping>
                    <remapping>camera_info:=/rgb_cam/image_color/camera_info</remapping>
                    <frame_name>webcam_lens_link_optical_frame</frame_name>
                    </ros>
                </plugin>
			</sensor>
		</gazebo>
	</xacro:macro>
    <xacro:macro name="rgb_cam" params="parent name xyz rpy">
        <link name="${name}_link">
            <visual>
                <material name="lightgray" />
                <geometry>
                    <box size="0.013 0.0627 0.02597" />
                </geometry>
            </visual>
            <collision>
                <geometry>
                    <box size="0.013 0.0627 0.02597" />
                </geometry>
            </collision>
        </link>

        <link name="${name}_lens_link">
            <visual>
                <material name="black" />
                <origin xyz="0.001 0 0" rpy="0.0 1.5707963267948966 0.0" />
                <geometry>
                    <cylinder radius="0.00725" length="0.013" />
                </geometry>
            </visual>
            <collision>
                <geometry>
                    <cylinder radius="0.00725" length="0.013" />
                </geometry>
            </collision>
        </link>

        <joint name="${name}_joint" type="fixed">
            <parent link="${parent}" />
            <child link="${name}_link" />
            <origin xyz="${xyz}" rpy="${rpy}" />
        </joint>

        <joint name="${name}_lens_joint" type="fixed">
            <parent link="${name}_link" />
            <child link="${name}_lens_link" />
            <origin xyz="0.0 -0.015375 0.0" />

        </joint>
    </xacro:macro>
</robot>
