<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="sick_lms1xx" params="frame:=sick_link topic:=scan sample_size:=720 update_rate:=50
               min_angle:=-1.570 max_angle:=1.570 min_range:=0.1 max_range:=30.0 robot_namespace:=/" >
    <link name="${frame}">
      <inertial>
        <mass value="1e-5" />
        <origin xyz="0 0 0" />
        <inertia ixx="1e-6" ixy="1e-20" ixz="1e-20"
          iyy="1e-6" iyz="1e-20"
          izz="1e-6" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://sensors_description/meshes/sick-lms1xx.dae" />
        </geometry>
      </visual>
    </link>

    <gazebo reference="${frame}">
      <sensor type="gpu_ray" name="${frame}">
        <pose>0 0 0 0 0 0</pose>
        <topic>/${topic}</topic>
        <gz_frame_id>${frame}</gz_frame_id>
        <visualize>true</visualize>
        <update_rate>${update_rate}</update_rate>
        <ray>
          <scan>
            <horizontal>
              <samples>${sample_size}</samples>
              <resolution>1</resolution>
              <min_angle>${min_angle}</min_angle>
              <max_angle>${max_angle}</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>${min_range}</min>
            <max>${max_range}</max>
            <resolution>0.01</resolution>
          </range>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.001</stddev>
          </noise>
        </ray>
        <plugin name="gazebo_ros_laser" filename="libgazebo_ros_ray_sensor.so">
          <ros>
            <namespace>${robot_namespace}</namespace>
            <remapping>~/out:=${topic}</remapping>
          </ros>
          <output_type>sensor_msgs/LaserScan</output_type>
					<frame_name>${frame}</frame_name>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>
