<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="shark">
  <xacro:property name="hardware_type" value="gz_classic" />


  <xacro:include filename="$(find shark_description)/urdf/shark_description.xacro" />

  <xacro:include filename="$(find shark_description)/urdf/shark_materials.xacro" />
  <xacro:if value="${hardware_type == 'actual'}">
    <xacro:include filename="$(find shark_description)/ros2_control/shark_ros2_control.xacro" />
  </xacro:if>
  <xacro:if value="${hardware_type == 'gz_classic'}">
    <xacro:include filename="$(find shark_description)/urdf/shark_v1_gazebo_plugins.xacro" />
  </xacro:if>

</robot>
